/* CSS HEX */

.App {
  --eerie-black: #191716ff;
  --green-blue: #306bacff;
  --cornflower-blue: #6f9cebff;
  --baby-blue-eyes: #98b9f2ff;
  --medium-purple: #918ef4ff;

}

#navbar {
  font: 2rem sans-serif;
  background-color: var(--baby-blue-eyes);
}
#navbar #title {
  margin-left: 10px;
  display: inline;  
}
#navbar #about {
  margin: 30px;
  text-align: right;
}

#search {
  text-align: center;
  margin: 0 auto;
}

#results {
  background-color: var(--eerie-black);
  height: 100vh;
}